/*
  font-family: 'Muli', sans-serif;
  Light 300, Regular 400, Sami-Bold 600, Bold 700, Ex-Bold 800, Black 900 .
*/
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900');
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* use !important to prevent issues with browser extensions that change fonts */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-settings:before {
  content: "\e902";
}
.icon-down-small-arrow:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-list:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e906";
}
.icon-sale:before {
  content: "\e907";
}
.icon-filter:before {
  content: "\e908";
}
.icon-expand:before {
  content: "\e909";
}
.icon-bell:before {
  content: "\e90a";
}
.icon-plus:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-right-arrow:before {
  content: "\e90d";
}
.icon-edit:before {
  content: "\e90e";
}
.icon-delete:before {
  content: "\e90f";
}
.icon-padlock:before {
  content: "\e910";
}
.icon-nav:before {
  content: "\e911";
}
.icon-start-contains:before {
  content: "\e912";
}
.icon-contains:before {
  content: "\e913";
}
.icon-end-contains:before {
  content: "\e914";
}
.icon-equals:before {
  content: "\e915";
}
.icon-not-equals:before {
  content: "\e916";
}
.icon-less-than:before {
  content: "\e917";
}
.icon-less-equal:before {
  content: "\e918";
}
.icon-greater-equal:before {
  content: "\e919";
}
.icon-greater-than:before {
  content: "\e91a";
}
.icon-left-arrow:before {
  content: "\e91b";
}
.icon-tick:before {
  content: "\e91c";
}
.icon-unlock:before {
  content: "\e91d";
}
.icon-padlock1:before {
  content: "\e91e";
}
.icon-down-arrow:before {
  content: "\e91f";
}
.icon-up-arrow:before {
  content: "\e920";
}
.icon-more:before {
  content: "\e921";
}
.icon-not-contains:before {
  content: "\e922";
}
.icon-box:before {
  content: "\e923";
}
.icon-csv:before {
  content: "\e924";
}
.icon-download1:before {
  content: "\e925";
}
.icon-danger:before {
  content: "\e926";
}
.icon-excel-file:before {
  content: "\e927";
}
.icon-copy:before {
  content: "\e928";
}
